<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--db설정-->
  <connectionStrings>
    <add name="compactDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\1229\Book_Management\Book_Management\Books.mdf;Integrated Security=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>